body {
  background: linear-gradient(90deg, rgb(108, 104, 189) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 90vh;
  margin: 0 auto;
}

#calculator h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #fff;
}

.display {
  display: flex;
  justify-content: flex-end;
  background-color: grey;
  width: 100%;
  height: 3rem;
  color: #fff;
  text-align: right;
  font-size: 2rem;
}

.calc-outer-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 20%);
  height: 75%;
}

.calc-outer-container button {
  font-size: 1.4rem;
}

.spanner {
  grid-column: 1/3;
}

.coloured {
  background-color: darkorange;
}
