body {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#calculator {
  width: 60%;
  height: 35rem;
  margin: 8rem 16rem;
}

#terminate {
  height: 18%;
  width: 70%;
  background-color: gray;
  text-align: right;
  font-size: xx-large;
  color: white;
  box-sizing: border-box;
}

#buttons-container {
  display: flex;
  height: 60%;
  width: 80%;
}

#buttons {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#buttons > * {
  border: 1px solid gainsboro;
  outline: none;
  font-size: x-large;
}

#buttons :nth-child(4n) {
  background-color: orange;
}

#buttons :last-child {
  background-color: orange;
}

#buttons :nth-child(17) {
  grid-column: span 2;
}
